@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
body {
  --text-color: black;
  --bg-color: rgb(246, 229, 208);
  --grid-color: rgb(214, 193, 167);
  --bg-2-color: white;
  --bg-selected-color: aquamarine;

  font-family: "Patrick Hand", cursive;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 20px 20px;
}

body.dark {
  --text-color: white;
  --bg-color: #121212;
  --bg-2-color: rgb(71, 70, 61);
  --grid-color: rgb(55, 52, 49);
  --bg-selected-color: rgb(33, 244, 65);
}

.selected.filterButton {
  background-color: var(--bg-selected-color);
}

#taskSort {
  font-family: "Patrick Hand", cursive;
}
#taskInput {
  font-family: "Patrick Hand", cursive;
  padding: 8px;
  width: 70%;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--bg-2-color);
}

#addTaskBtn {
  padding: 8px 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  background-color: var(--bg-2-color);
  margin: 8px;
}

button {
  font-family: "Patrick Hand", cursive;
  margin: 5px;
}

.edit-input {
  font-size: 1em;
  padding: 4px;
  width: 80%;
}
.task-name {
  cursor: pointer;
}
